.elementor-590 .elementor-element.elementor-element-54508d91{--display:flex;--background-transition:0.3s;--padding-top:30px;--padding-bottom:30px;--padding-left:30px;--padding-right:30px;}:root{--page-title-display:none;}/* Start custom CSS for shortcode, class: .elementor-element-6b11dc10 */.elementor-590 .elementor-element.elementor-element-6b11dc10 {
    font-family: 'Inter Tight', sans-serif;
}

.elementor-590 .elementor-element.elementor-element-6b11dc10 a {
    color: lightgreen;
}/* End custom CSS */